/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}
.top-bar a{
  text-decoration: none;
  font-size: 1.1rem;
}
/*============= NAVIGATION =============*/
.navbar-brand img{
  height: 6rem; 
} 
.navbar{
  font-size: 1.15rem;
  letter-spacing: .1rem;
  box-shadow: 0.5rem .5rem rgba(0, 0, 0, .1);
  z-index: 1; 
}
.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}
/*============= CAROUSEL =============*/
#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}
.carousel-inner{
  max-height: 38rem!important;
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease;
}
/*-- Carousel Content --*/
.carousel-caption{
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom{
background-color: rgba(0, 0, 0, .4);
}
.carousel-caption h1{
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.border-primary{
  border-top: .2rem solid #4981b3!important;
}
.carousel-caption h3{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
.carousel-caption p{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
.carousel-caption .F-Size{
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
.img-resize{
  height: 6rem;
}
/*============= FOOTER =============*/
footer{
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer p, footer a,
.socket a{
  color: white;
  text-decoration: none;
}
ul.social{
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li{
  margin: 0 auto;
}
footer .svg-inline--fa{
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover{
  color: #68a0d2;
}
/*============= Services page styling =============*/
.section-header{
  margin-bottom: 30px;
  margin-top: 15px;
}
.section-header p{
  font-size: 1.1rem;
}
.single-service{
  text-align: center;
  background: #fff;
}
.service-bg{
  height: 12.5rem;
 position: relative; 
}
.service-bg-1{
 background-image: url('../img/sneaker-12.jpg'); 
   background-size: cover;
  background-position: center; 
}
.service-bg-2{
  background-image: url('../img/maxresdefault.jpg');
   background-size: cover;
  background-position: center; 
}
.service-bg-3{
  background-image: url('../img/suits.jfif');
   background-size: cover;
  background-position: center; 
}
.service-bg-4{
  background-image: url('../img/dade7ee3-laundry-services.png');
   background-size: cover;
  background-position: center; 
}
.service-bg-5{
  background-image: url('../img/a5e752595c6a8b04aa95804e034e61d9.jpg');
   background-size: cover;
  background-position: center; 
}
.service-bg h2{
  color: #fff;
  background: #7aaec4;
  border: 1px solid black;
  font-size: 1.01rem;
  position: absolute;
  letter-spacing: 2px;
}
.single-service:hover .service-bg h2{
  background: #fff;
  transition: .9s;
  color: #7aaec4;
}
.service-text{
  font-size: 15px;
  }
.btn-area{
  display: inline;
  font-size: 17px;
  }



